<!DOCTYPE html>
<html>
  <head>
    <title>thenewboston account verification</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
  </head>
  <body>
    <div
      style="
        border: 2px solid #000;
        border-radius: 25px;
        width: 30em;
        padding: 25px;
        margin: 5em;
        text-align: justify;
        border-width: thick;
      "
    >
      <h3 style="line-height: 35px; text-align: center">
        Hi <span>{{name}}</span>
      </h3>

      <div id="div-content" style="line-height: 26px">
        <p style="text-align: center">
          Thank you for registering an account with thenewboston!
        </p>
        <p style="text-align: center">
          Please confirm your account by clicking the link below
        </p>
        <div style="margin-top: 7%">
          <a
            href="{{link}}"
            style="
              color: #556cd6;
              padding: 0.4em;
              font-size: 2em;
              text-decoration: none;
              margin-left: 19%;
            "
            >Activate Account</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
