packages:
  yum:
    postgresql-devel: []


commands:
  01_create_file:
    command: touch /opt/python/log/analyzer.log
  02_change_permissions:
    command: chmod g+s /opt/python/log/analyzer.log
  03_change_owner:
    command: chown wsgi:wsgi /opt/python/log/analyzer.log

container_commands:
  01_migrate:
    command: "$PYTHONPATH/python ./manage.py migrate --noinput"
    leader_only: true

  02_static:
    command: "$PYTHONPATH/python ./manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config.wsgi:application
    NumProcesses: 2
    NumThreads: 10

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
