packages:
  yum:
    postgresql-devel: []

container_commands:
#  01_migrate:
#    command: "django-admin.py migrate"
#    leader_only: true

  02_static:
    command: "$PYTHONPATH/python ./manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_APPLICATION_ENVIRONMENT: production

  aws:elasticbeanstalk:container:python:
    WSGIPath: config.wsgi:application
    NumProcesses: 2
    NumThreads: 10

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
