<html>
<title>Hello</title>
<head>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<a id="login" href="https://github.com/login/oauth/authorize?client_id=a29d2eda4c2978fccb03&redirect_uri=http://192.168.100.2:8000/testapp/&scope=read:user%20user:email">SignIn</a>
<a id="logout" href="" style="display: none">LogOut</a>
<br>
<a id="verify" href="" style="display: none">Verify</a>
<a id="refresh" href="" style="display: none">Refresh</a>

<div id="log"></div>
<div id="me"></div>


<script>
$(document).ready(function() {
    let params = new URLSearchParams(window.location.search);
    let access_token = localStorage.getItem('access_token');
    let refresh_token = localStorage.getItem('refresh_token');

    $('#logout').on('click', function(e) {
        e.preventDefault()

        localStorage.removeItem('access_token');
        localStorage.removeItem('refresh_token');
    });

    $('#verify').on('click', function(e) {
        e.preventDefault();
        $.ajax({
            url: 'http://192.168.100.2:8000/auth/token/verify/',
            method: 'POST',
            data: {token: access_token},
            dataType: 'json'
        })
            .done(function (msg) {
                $('#log').append('<p>token vitrified successfully</p>');
            })
            .fail(function (jqxhr, textStatus, error) {
                $('#log').append('<p>error verifying token ' + error + '</p>');
            });
    });

    $('#refresh').on('click', function(e) {
        e.preventDefault();
        $.ajax({
            url: 'http://192.168.100.2:8000/auth/token/refresh/',
            method: 'POST',
            data: {refresh: refresh_token},
            dataType: 'json'
        })
            .done(function (msg) {
                localStorage.setItem('access_token', msg.access);

                access_token = msg.access;

                $('#log').append('<p>token refresh successfully</p>');
            })
            .fail(function (jqxhr, textStatus, error) {
                $('#log').append('<p>error refreshing token ' + error + '</p>');
            });
    });

    $(document).on('tokenAcquired', function() {
        $.ajax({
            url: 'http://192.168.100.2:8000/users/me',
            dataType: 'json',
            headers: {
                Authorization: 'Bearer ' + access_token
            }
        })
            .done(function (msg) {
                $('#login').hide();
                $('#logout').show();
                $('#verify').show();
                $('#refresh').show();
                $('#log').append('<p>acquired Me, uuid: ' + msg.pk + '</p>');
            })
            .fail(function (jqxhr, textStatus, error) {
                $('#log').append('<p>error getting Me ' + error + '</p>');
            });
    });

    if (params.has('code')) {
        $.ajax({
            url: 'http://192.168.100.2:8000/auth/login/github/',
            method: 'POST',
            data: {
                code: params.get('code')
            },
            dataType: 'json',
        })
            .done(function(msg) {
                localStorage.setItem('access_token', msg.access_token);
                localStorage.setItem('refresh_token', msg.refresh_token);

                access_token = msg.access_token;
                refresh_token = msg.refresh_token;

                $('#log').append('<p>acquired access token ' + msg.access_token + '</p>');
                $('#log').append('<p>acquired refresh token ' + msg.refresh_token + '</p>');

                window.history.pushState('object', document.title, location.href.split("?")[0]);

                $(document).trigger('tokenAcquired');
            })
            .fail(function (jqxhr, textStatus, error) {
                $('#log').append('<p>fail acquiring token ' + error + '</p>');
            });
    } else {
        if (access_token !== undefined) {
            $(document).trigger('tokenAcquired');
        }
    }
});
</script>

</body>
</html>
